.sign-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eff3f7; /* 배경색을 회색으로 변경 */
}

.sign-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF; /* 로그인 창을 흰색으로 설정 */
    border-radius: 15px; /* 둥근 네모창을 만들기 위해 border-radius를 설정 */
    padding: 50px; /* 내부 요소와 테두리 사이에 여백을 추가 */
    width: 30vw; /* 너비를 설정 */
    max-width: 500px; /* 최대 너비를 설정 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-title {
    width: 30vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 5px;
    color: #000000;
}

.sign-subtitle {
    width: 60vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #585858;
    margin-top: 2px;
    margin-bottom: 22px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 60vw;
    height: auto;
}

.sign-field {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    color: gray;
    border-radius: 8px;
    width: 50%;
}

.signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #2d2d2d;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

.signup-button {
    height: 40px;
    background: #2d2d2d;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300; /* 변경 */
    letter-spacing: 0.02em;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.signin-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 55%;
    height: 24px;
}

.signin-divider-line1,
.signin-divider-line2 {
    flex: 1; /* 변경 */
    height: 1.5px;
    background: #E6E6E6;
    border: none;
}

.signin-divider-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: 14px;
    line-height: 150%;
    color: #797979;
}

.move-to-signup-button {
    margin-top: 1px;
    height: 40px;
    background: #EEEEEE;
    border: none;
    border-radius: 8px;
}

.move-to-signup-button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    font-size: 15px;
    line-height: 150%;
    color: #000000;
}

.signup-button, .move-to-signup-button, .signin-button, .move-to-signin-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.move-to-signin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #585858;
}